@font-face {
  font-family: bodytext;
  src: url(../css/Roboto-Light.ttf) format("truetype");
}

h1{
  font-family: bodytext;
  color:green;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Medium'
}

main {
  width: 100vw;
  height: 800px
}

.container,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.container {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%)
}

.socialMedia-container,
.phone-container {
  display: none
}

.wrapper {
  position: relative;
  height: 80%;
}

input[type="radio"] {
  margin: 10px
}

fieldset {
  border: rgb(192, 192, 192, 0.1) 1px solid;
}

  
